$font-size: 18px;
$monospace: "Inconsolata", monospace;

body {
  font-family: sans-serif;
  font-size: $font-size;
  padding: 1rem;
  margin: 0;
}

.container {
  height: calc(100vh - 2rem); /* 2rem for body margin */

}

.editor {  
  .cm-editor.cm-focused {
    outline: 0;
  }

  .cm-content {
    font-family: $monospace;
    font-size: $font-size;    
  }
} 

.recorder {
  display: flex;
  gap: 1rem; 

  input[type=file] {
    width: 176px;
  }
}

.shell {
  font-family: $monospace;
  font-size: $font-size;

  pre {
    font-family: $monospace;
    font-size: $font-size;
    margin: 0 0 0.5em 0;
  }

  input {
    width: calc(100% - 3ch); /* 3ch for "$ " prefix */
    font-family: $monospace;
    font-size: $font-size;

    border: none;
    outline: 0;
    margin: 0;
    padding: 0;
  }
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  height: 100%;

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;
  }

  .gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;

    &.gutter-horizontal {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
      cursor: col-resize;
    }
    
    &.gutter-vertical {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
      cursor: row-resize;
    }
  }
}

.transcript {
  textarea {
    width: 100%; 
    height: 100%;
  }
}