$size: 18px;
body {
  font-size: $size;
  padding: 1rem;
}

$monospace: "Inconsolata", monospace;

.container {
  display: flex;
  gap: 1rem;
}

.panel {
  width: 80ch;
}

.editor {  
  .cm-editor.cm-focused {
    outline: 0;
  }

  .cm-content {
    font-family: $monospace;
    font-size: $size;    
  }
} 

.shell {
  font-family: $monospace;
  font-size: $size;

  pre {
    font-family: $monospace;
    font-size: $size;
    margin: 0 0 0.5em 0;
  }

  input {
    font-family: $monospace;
    font-size: $size;

    border: none;
    outline: 0;
  }
}
